<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.multi.module.category.mapper.CategoryMapper">

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="com.example.multi.module.category.entity.Category">
        insert into category
        <trim prefix="(" suffixOverrides=",">
        <if test=" category.name  != null and category.name != ''">`name` ,</if>
        <if test=" category.image  != null and category.image != ''">`image` ,</if>
        <if test=" category.createTime  != null">`create_time` ,</if>
        <if test=" category.updateTime  != null">`update_time` ,</if>
        is_deleted
        </trim>
        <trim prefix=")values(" suffixOverrides=",">
        <if test="category.name != null and category.name!= ''">#{category.name},</if>
        <if test="category.image != null and category.image!= ''">#{category.image},</if>
        <if test="category.createTime != null">#{category.createTime},</if>
        <if test="category.updateTime != null">#{category.updateTime},</if>
        #{category.isDeleted}
        </trim>
        )
    </insert>

    <!-- 更新操作 -->
    <update id="update" parameterType="com.example.multi.module.category.entity.Category">
        UPDATE category
        <trim prefix="set" suffixOverrides=",">
                        <if test="category.name != null and category.name != ''">name = #{ category.name },</if>
                        <if test="category.image != null and category.image != ''">image = #{ category.image },</if>
                        <if test="category.createTime != null">create_time = #{ category.createTime },</if>
                        <if test="category.updateTime != null">update_time = #{ category.updateTime },</if>
        </trim>
        WHERE id = #{category.id}
    </update>

    <!--<select id="getCategoryName"
            resultType="com.example.multi.module.category.entity.Category">
        SELECT * from category
        where
        <if test="categoryName != null and categoryName != ''">
            name like concat("%",#{categoryName},"%")
            and
        </if>
        is_deleted = 0
        ORDER BY id ASC
        LIMIT #{offset}, #{pageSize}
    </select>
    -->
<!--    <select id="getIds"-->
<!--            resultType="com.example.multi.module.category.entity.Category">-->
<!--        SELECT * FROM category-->
<!--                 WHERE id in (#{tagIds})-->

<!--    </select>-->


</mapper>
