<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.multi.module.user.mapper.UserMapper">
    <insert id="insert"
            parameterType="com.example.multi.module.user.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffixOverrides=",">
            <if test="user.id != null">id,</if>
            <if test="user.phone != null and user.phone !=''">phone,</if>
            <if test="user.password != null and user.password !=''">password,</if>
            <if test="user.username != null and user.username !=''">username,</if>
            <if test="user.avatar!= null and user.avatar !=''">avatar,</if>
            <if test="user.registerIp!= null and user.registerIp !=''">register_ip,</if>
            <if test="user.lastLoginIp!= null and user.lastLoginIp !=''">last_login_ip,</if>
            <if test="user.lastLoginTime!= null and user.lastLoginTime !=''">last_login_time,</if>
            <if test="user.createTime != null">create_time,</if>
            <if test="user.updateTime != null">update_time,</if>
            is_deleted
        </trim>

        <trim prefix=")values(" suffixOverrides=",">
            <if test="user.id != null">#{user.id},</if>
            <if test="user.phone != null">#{user.phone},</if>
            <if test="user.password != null">#{user.password},</if>
            <if test="user.username != null">#{user.username},</if>
            <if test="user.avatar != null">#{user.avatar},</if>
            <if test="user.registerIp != null">#{user.registerIp},</if>
            <if test="user.lastLoginIp != null">#{user.lastLoginIp},</if>
            <if test="user.lastLoginTime != null">#{user.lastLoginTime},</if>
            <if test="user.createTime != null">#{user.createTime},</if>
            <if test="user.updateTime != null">#{user.updateTime},</if>
            #{user.isDeleted}
        </trim>
        )
    </insert>
    <!--<mapper namespace="com.example.multi.module.user.mapper.UserMapper">-->
    <!--    <insert id="insert"-->
    <!--            parameterType="com.example.multi.module.user.entity.User" useGeneratedKeys="true" keyProperty="id">-->
    <!--        insert into user-->
    <!--        <trim prefix="(" suffixOverrides=",">-->
    <!--            <if test="user.countryCode != null and user.countryCode != ''">country_code,</if>-->
    <!--            <if test="user.phone != null and user.phone != ''">phone,</if>-->
    <!--            <if test="user.email != null and user.email != ''">email,</if>-->
    <!--            <if test="user.username != null and user.username != ''">username,</if>-->
    <!--            <if test="user.password != null and user.password != ''">password,</if>-->
    <!--            <if test="user.avatar != null and user.avatar != ''">avatar,</if>-->
    <!--            <if test="user.personalProfile != null and user.personalProfile != ''">personal_profile,</if>-->
    <!--            <if test="user.coverImage != null and user.coverImage != ''">cover_image,</if>-->
    <!--            <if test="user.gender != null">gender,</if>-->
    <!--            <if test="user.birthday != null and user.birthday != ''">birthday,</if>-->
    <!--            <if test="user.wechatOpenId != null and user.wechatOpenId != ''">wechat_open_id,</if>-->
    <!--            <if test="user.wechatUnionId != null and user.wechatUnionId != ''">wechat_union_id,</if>-->
    <!--            <if test="user.wechatNo != null and user.wechatNo != ''">wechat_no,</if>-->
    <!--            <if test="user.country != null and user.country != ''">country,</if>-->
    <!--            <if test="user.province != null and user.province != ''">province,</if>-->
    <!--            <if test="user.city != null and user.city != ''">city,</if>-->
    <!--            <if test="user.registerTime != null">register_time,</if>-->
    <!--            <if test="user.registerIp != null and user.registerIp != ''">register_ip,</if>-->
    <!--            <if test="user.lastLoginTime != null">last_login_time,</if>-->
    <!--            <if test="user.lastLoginIp != null and user.lastLoginIp != ''">last_login_ip,</if>-->
    <!--            <if test="user.isBan != null">is_ban,</if>-->
    <!--            <if test="user.extra != null and user.extra != ''">extra,</if>-->
    <!--            <if test="user.createTime != null">create_time,</if>-->
    <!--            <if test="user.updateTime != null">update_time,</if>-->
    <!--            is_deleted-->
    <!--        </trim>-->
    <!--        <trim prefix=")values(" suffixOverrides=",">-->
    <!--            <if test="user.countryCode != null and user.countryCode != ''">#{user.countryCode},</if>-->
    <!--            <if test="user.phone != null and user.phone != ''">#{user.phone},</if>-->
    <!--            <if test="user.email != null and user.email != ''">#{user.email},</if>-->
    <!--            <if test="user.username != null and user.username != ''">#{user.username},</if>-->
    <!--            <if test="user.password != null and user.password != ''">#{user.password},</if>-->
    <!--            <if test="user.avatar != null and user.avatar != ''">#{user.avatar},</if>-->
    <!--            <if test="user.personalProfile != null and user.personalProfile != ''">#{user.personalProfile},</if>-->
    <!--            <if test="user.coverImage != null and user.coverImage != ''">#{user.coverImage},</if>-->
    <!--            <if test="user.gender != null">#{user.gender},</if>-->
    <!--            <if test="user.birthday != null and user.birthday != ''">#{user.birthday},</if>-->
    <!--            <if test="user.wechatOpenId != null and user.wechatOpenId != ''">#{user.wechatOpenId},</if>-->
    <!--            <if test="user.wechatUnionId != null and user.wechatUnionId != ''">#{user.wechatUnionId},</if>-->
    <!--            <if test="user.wechatNo != null and user.wechatNo != ''">#{user.wechatNo},</if>-->
    <!--            <if test="user.country != null and user.country != ''">#{user.country},</if>-->
    <!--            <if test="user.province != null and user.province != ''">#{user.province},</if>-->
    <!--            <if test="user.city != null and user.city != ''">#{user.city},</if>-->
    <!--            <if test="user.registerTime != null">#{user.registerTime},</if>-->
    <!--            <if test="user.registerIp != null and user.registerIp != ''">#{user.registerIp},</if>-->
    <!--            <if test="user.lastLoginTime != null">#{user.lastLoginTime},</if>-->
    <!--            <if test="user.lastLoginIp != null and user.lastLoginIp != ''">#{user.lastLoginIp},</if>-->
    <!--            <if test="user.isBan != null">#{user.isBan},</if>-->
    <!--            <if test="user.extra != null and user.extra != ''">#{user.extra},</if>-->
    <!--            <if test="user.createTime != null">#{user.createTime},</if>-->
    <!--            <if test="user.updateTime != null">#{user.updateTime},</if>-->
    <!--            #{user.isDeleted}-->
    <!--        </trim>-->
    <!--        &ndash;&gt;-->
    <!--        )-->
    <!--    </insert>-->

    <update id="update"
            parameterType="com.example.multi.module.user.entity.User">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            update_time = #{user.updateTime},
            <if test="user.phone != null ">phone = #{user.phone},</if>
            <if test="user.password != null ">password = #{user.password},</if>
            <if test="user.username != null  ">username = #{user.username},</if>
            <if test="user.avatar != null   ">avatar = #{user.avatar}</if>
            <if test="user.lastLoginIp != null  ">last_login_ip = #{user.lastLoginIp},</if>
            <if test="user.lastLoginTime != null  ">last_login_time = #{user.lastLoginTime},</if>
        </trim>
        where id = #{user.id}
    </update>

</mapper>